{erl_opts, [
    debug_info, {src_dirs, ["src", "test", "lib"]}
]}.

{deps, [
    {jiffy, "0.4.5", {git, "git://github.com/davisp/jiffy.git",
        % Pin jiffy to 5eea00e497 (0.4.5).
        {tag, "5eea00e497"}}},
    {etest_http, "", {git, "git://github.com/wooga/etest_http.git"}},
    {etest, "", {git, "git://github.com/wooga/etest.git"}}
]}.

%% Which files to cleanup.
{clean_files, ["ebin/*.beam"]}.
